*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: white;
}
.container{
    max-width: 1200px;
    margin:0;
}
.header{
    background: linear-gradient(180deg, #3D81A0 52.6%, #327559 100%);
    display: flex;
    justify-content: center
}
.titulo{
    justify-content: center;
    text-align: center;
}
.paragrafo{
    padding:0 300px 0 300px;
    text-align: center;
}
.btn{
    text-decoration: none;
    width: 298px;
    height: 86px;
    background:  rgba(0, 0, 0, 0.59);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn p{
    width: 100%;
    text-align: center;
    color: #fff;
}
.botoes>a{
    margin: 13px 450px 0 450px;
}
